p {
  font-family: Montserrat;
  margin-top: 0;
  margin-bottom: 0;
}

.heading{
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.subs {
  font-weight: normal;
  text-align: center;
}

.deli {
  text-decoration: underline;
  text-align: center;
}